<?xml version="1.0" encoding="utf-8"?>
<ScrollView xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:fillViewport="true">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="fill_parent"
        android:layout_height="fill_parent"
        android:background="@android:color/white">
        <include
            android:id="@+id/toolbar"
            layout="@layout/toolbar" />
        <TextView
            android:id="@+id/PrivacyBody"
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:gravity="left"
            android:textSize="18dp"
            android:textColor="@android:color/black"
            android:paddingBottom="20dp"
            android:paddingLeft="20dp"
            android:paddingRight="20dp"
            android:autoText="true"
            android:maxLines="9999"
            android:breakStrategy="simple"
            android:title="@string/privacy_body" />
    </LinearLayout>
</ScrollView>